/* @import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
html,
body {
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 15px;
}

.grid-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 20px;
  row-gap: 20px;
}

.grid-main1 {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
  height: 100%;
}

.content-main {
  color: #242424;
  background-color: #f25fff;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

.flexbox {
  display: flex;
  box-sizing: border-box;
  height: 120px;
  margin-bottom: 10px;
}

.item30 {
  display: flex;
  box-sizing: border-box;
  width: 30%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #242424;
  background-color: #ffffff;
  height: 100%;
}
.item70 {
  display: flex;
  box-sizing: border-box;
  width: 70%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #242424;
  background-color: #ffffff;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 5px minmax(160px, auto) auto;
  grid-template-areas:
    "header header"
    "leftbar main"
    "footer footer";
  column-gap: 20px;
  row-gap: 20px;
}

.btn-buildnow {
  font-weight: 550;
  margin-top: 20%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.page-header {
  font-size: 20px;
  text-align: right;
  margin-top: 20px;
  grid-area: header;
  margin-right: 50px;
}

.page-leftbar {
  grid-area: leftbar;
}

.page-main {
  grid-area: main;
  padding-top: 40px;
  height: 100%;
}

.page-main-bst {
  grid-area: main;
  height: 100%;
}

.page-footer {
  color: #ffffff;
  grid-area: footer;
}

.content-all {
  padding-bottom: 70px;
  max-width: 1500px;
  margin: auto;
}

.content {
  color: #ffffff;
  background-color: #202020;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
}

.content-bst {
  color: #ffffff;
  background-color: #202020;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

.grid-leftbar {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 20px;
  row-gap: 20px;
}

.content-leftbar {
  color: #242424;
  background-color: #ffffff;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  justify-content: center;
  display: flex;
}

.pic-cate {
  margin: auto;
  width: auto;
  max-width: 50px;
  height: auto;
  max-height: 50px;
}

.item {
  height: 130px;
}

.copyright {
  position: relative;
}

.text-mid {
  text-align: center;
  vertical-align: center;
}

.content-cate {
  color: black;
  text-decoration: none;
}

.content-cate:hover {
  color: black;
  text-decoration: none;
}

.card-content {
  color: #242424;
  background-color: #00000004;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 660px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 30px;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.045);
  border-radius: 15px;
}

.card-img {
  border-radius: 15px;
  padding: 0px;
}

.category-box {
  font-size: 21px;
  padding: 10px;
  margin-top: 20px;
  margin-top: 20px;
  border-radius: 15px;
}

.card-box {
  margin-left: 10px;
  background-color: #ffffff00;
  border-radius: 5px;
  height: 150px;
  width: 200px;
}

.content-data-category {
  color: #242424;
  background-color: #ffffffd7;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  border-radius: 15px;
}

.grid-category-filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 20px;
  row-gap: 480px;
}

.content-band-filter {
  padding-left: 20px;
}

.grid-filter {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 20px;
  row-gap: 20px;
}

.content-filter {
  font-weight: 500;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

.app-search {
  font-weight: 600;
}

.card-content span {
  position: center;
}

.card-content:hover span {
  display: block;
}

.card-content span input[type="button"] {
  width: 150px;
  height: 50px;
  background: rgb(241, 158, 62);
  border-radius: 15px;
  box-shadow: 0 0 10px 2px #000;
  cursor: pointer;
  margin-top: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: center;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: rgb(31, 31, 31);
  color: white;
  height: 40px;
  font-size: 17px;
  width: 150px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.page-number {
  position: absolute;
  text-align: center;
  font-size: 19px;
  margin-left: 400px;
  font-weight: bold;
}

.page-number button {
  background-color: #00000004;
  border: #ff9100;
}

.page-number button:hover {
  background-color: #68686804;
  border: #ff9100;
}









.grid-buildall {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
}

.content-buildall {
  color: #242424;
  background-color: #ffffffd7;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
}

.pic-buildall {
  height: "200px";
  width: "100px";
}

.name-buildall {
  text-align: center;
}

.pic-store {
  width: "110px";
  height: "40px";
}

.card-buildall {
  color: #242424;
  background-color: #00000004;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 560px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 30px;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.045);
  border-radius: 15px;
}

.card-buildall span {
  position: center;
}

.card-buildall:hover span {
  display: block;
}

.card-buildall span input[type="button"] {
  width: 150px;
  height: 50px;
  background: rgb(241, 158, 62);
  border-radius: 15px;
  box-shadow: 0 0 10px 2px #000;
  cursor: pointer;
  margin-top: 15px;
}

.price-inbuildall1 {
  justify-items: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
  padding-left: 20px;
  width: 150px;
}

.price-inbuildall2 {
  justify-items: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
  padding-left: 50px;
} */
