.all-content-fav {
  max-width: 1500px;
  margin: 20px;
  margin: auto;
  margin-left: 250px;
  margin-right: 250px;
}

.title-fav {
  font-weight: 600;
  padding-top: 20px;
  padding-left: 20px;
}

.grid-fav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 20px;
  row-gap: 20px;
  padding-bottom: 15px;
}

.content-fav {
  background-color: rgb(255, 255, 255);
  color: rgb(31, 31, 31);
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding-top: 20px;
}

.btn-fav {
  font-weight: 550;
  padding: 10px;
  background-color: rgb(235, 132, 132);
}

.MyBuildUser {
  padding-bottom: 20px;
}

.content-map {
  padding-top: 30px;
}
