.grid-mb-mm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 20px;
  row-gap: 20px;
  padding-bottom: 20px;
}

.content-mb-mm {
  color: rgb(218, 218, 218);
  background-color: rgb(31, 31, 31);
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding-top: 20px;
}

.all-content-mb-mm {
  max-width: 1500px;
  margin: 20px;
  margin: auto;
}

.item-mm {
  height: 200px;
  padding-top: 20px;
}

.content-details-mm {
  padding-top: 20px;
  color: rgb(218, 218, 218);
  background-color: rgb(31, 31, 31);
  height: 560px;
  width: 100%;
  margin: auto;
  font-weight: 550;
}

.title-mm {
  padding-left: 20px;
  padding-bottom: 20px;
}

.title-1-mm {
  font-weight: 600;
  padding-top: 20px;
  padding-left: 20px;
}

.table {
  color: rgb(218, 218, 218);
  border-collapse: collapse;
  width: 100%;
  padding-top: 20px;
}

.table td {
  border: 1px solid #ddd;
  padding: 8px;
}
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.font-title-mm {
  font-weight: 600;
  font-size: 20px;
  padding-top: 10px;
}

.grid-dtf-mm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-items: start;
  column-gap: 800px;
}

.content-dtf-mm {
  color: rgb(218, 218, 218);
  background-color: rgb(31, 31, 31);
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

.fav-mm:hover {
  cursor: pointer;
}

.item-dtf-mm {
}
