/* .grid-mb {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 20px;
  row-gap: 20px;
  padding-bottom: 20px;
}
  
.content-mb {
  color: rgb(218, 218, 218);
  background-color: rgb(31, 31, 31);
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding-top: 20px;
  
}

.all-content-mb{
  max-width: 1500px;
  margin: 20px;
  margin: auto;
}

.item{
  height: 200px;
  padding-top: 20px;
}

.content-details{
  padding-top: 20px;
  color: rgb(218, 218, 218);
  background-color: rgb(31, 31, 31);
  height: 563px;
  width: 100%;
  margin:auto;
  font-weight: 550;
}

.title{
  padding-left: 20px;
}

.title-1{
  font-weight: 600;
  padding-top: 20px;
  padding-left: 20px;
}

.table{
  color: rgb(218, 218, 218);
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.font-title{
  font-weight: 600;
  font-size: 20px;
  padding-top: 10px;
}

.grid-dtf {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 1000px;
}

.content-dtf {
  color: rgb(218, 218, 218);
  background-color: rgb(31, 31, 31);
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

.fav:hover{
  cursor: pointer;
} */